\---
layout: default
\---
%section
  %h1 Dil Amaçları
  %ul.goals
    %li Ruby benzeri söz dizimi.
    %li Değişken ya da method argümanlarının tiplerini tanımlama zorunluluğu olmadan statik tip kontrolü.
    %li C kodunu bağlayarak Crystal içinde çağırabilirsiniz.
    %li Derleme anında değerlendirme ve kod üretimi sayesinde gereksiz kodu önler.
    %li Efektif makina koduna derlenir.

%section
  %h1 Nasıl Görünüyor
  .code_section
    {% include sample_code.md %}

%section
  %h1 Durum
  %p
    %ul.goals
      %li Crystal projesi hala alfa evresinde olup standart kütüphane ve dil iyileştirilmektedir.
      %li Crystal derleyicisi Crystal'de yazılmıştır.

%section
  %h1 Topluluk
  %p
    %i.ip.group
    %a{href: "https://groups.google.com/forum/?fromgroups#!forum/crystal-lang", target: "_blank"} Google Group
    'umuza bir soru ya da öneri gönderin
    ya da IRC kanalımıza katılın; irc.freenode.net içerisinde #crystal-lang

%section
  %h1 Blogdan Yazılar
  .blog_roll
    {% for post in site.posts %}
    %article
      .thumbnail
        %p {{ post.thumbnail }}
      %h3
        %a{href: "{{post.url}}"} {{ post.title }}
      %p {{ post.summary }}
    {% endfor %}
