---
layout: default
---
<section>
  <h1>Dil Amaçları</h1>
  <ul class='goals'>
    <li>Ruby benzeri söz dizimi.</li>
    <li>Değişken ya da method argümanlarının tiplerini tanımlama zorunluluğu olmadan statik tip kontrolü.</li>
    <li>C kodunu bağlayarak Crystal içinde çağırabilirsiniz.</li>
    <li>Derleme anında değerlendirme ve kod üretimi sayesinde gereksiz kodu önler.</li>
    <li>Efektif makina koduna derlenir.</li>
  </ul>
</section>
<section>
  <h1>Nasıl Görünüyor</h1>
  <div class='code_section'>
    {% include sample_code.md %}
  </div>
</section>
<section>
  <h1>Durum</h1>
  <p>
    <ul class='goals'>
      <li>Crystal projesi hala alfa evresinde olup standart kütüphane ve dil iyileştirilmektedir.</li>
      <li>Crystal derleyicisi Crystal ile yazılmıştır.</li>
    </ul>
  </p>
</section>
<section>
  <h1>Topluluk</h1>
  <p>
    Sorularınız ya da önerileriniz için
    <i class='ip group'></i>
    <a href='https://groups.google.com/forum/?fromgroups#!forum/crystal-lang' target='_blank'>Google Grubuna</a>
    yazabilir veya IRC kanalımıza(irc.freenode.net içerisinde #crystal-lang) katılabilirsiniz.
  </p>
</section>
<section>
  <h1>Blogdan Yazılar</h1>
  <div class='blog_roll'>
    {% for post in site.posts %}
    <article>
      <div class='thumbnail'>
        <p>{{ post.thumbnail }}</p>
      </div>
      <h3>
        <a href='{{post.url}}'>{{ post.title }}</a>
      </h3>
      <p>{{ post.summary }}</p>
    </article>
    {% endfor %}
  </div>
</section>
